[submodule "campetella_sim"]
	path = campetella_sim
	url = git@github.com:alefram/campetella_sim.git
	branch = main
[submodule "robotnik_simulation"]
	path = robotnik_packages/robotnik_simulation
	url = git@github.com:farshad-heravi/robotnik_simulation.git
	branch = jazzy-devel
[submodule "renee_rbvogui_navigation"]
	path = renee_rbvogui_navigation
	url = git@github.com:farshad-heravi/renee_rbvogui_navigation.git
	branch = fix/real-robot-localization-bridge
[submodule "robotnik_description"]
	path = robotnik_packages/robotnik_description
	url = git@github.com:farshad-heravi/robotnik_description.git
	branch = jazzy-devel
[submodule "onrobot-ros2"]
	path = onrobot-ros2
	url = git@github.com:farshad-heravi/onrobot-ros2.git
[submodule "Universal_Robots_ROS2_Description"]
	path = ur_robot_packages/Universal_Robots_ROS2_Description
	url = git@github.com:farshad-heravi/Universal_Robots_ROS2_Description.git
	branch = jazzy
[submodule "gz_ros2_control"]
	path = robotnik_packages/gz_ros2_control
	url = https://github.com/ros-controls/gz_ros2_control.git
	branch = jazzy
[submodule "ros2_control"]
	path = ur_robot_packages/ros2_control
	url = https://github.com/ros-controls/ros2_control.git
	branch = jazzy
[submodule "ros2_controllers"]
	path = ur_robot_packages/ros2_controllers
	url = https://github.com/ros-controls/ros2_controllers.git
	branch = jazzy
[submodule "srdfdom"]
	path = robotnik_packages/srdfdom
	url = https://github.com/moveit/srdfdom.git
	branch = ros2
[submodule "moveit_msgs"]
	path = ur_robot_packages/moveit_msgs
	url = https://github.com/ros-planning/moveit_msgs.git
	branch = ros2
[submodule "moveit2"]
	path = ur_robot_packages/moveit2
	url = https://github.com/ros-planning/moveit2.git
	branch = main
[submodule "Universal_Robots_ROS2_Driver"]
	path = ur_robot_packages/Universal_Robots_ROS2_Driver
	url = https://github.com/farshad-heravi/Universal_Robots_ROS2_Driver.git
	branch = jazzy-devel
[submodule "ur_msgs"]
	path = ur_robot_packages/ur_msgs
	url = https://github.com/ros-industrial/ur_msgs.git
	branch = humble-devel
[submodule "Universal_Robots_Client_Library"]
	path = ur_robot_packages/Universal_Robots_Client_Library
	url = https://github.com/UniversalRobots/Universal_Robots_Client_Library.git
	branch = master
[submodule "Universal_Robots_ROS2_GZ_Simulation"]
	path = ur_robot_packages/Universal_Robots_ROS2_GZ_Simulation
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_GZ_Simulation.git
	branch = ros2
[submodule "robotnik_sensors"]
	path = robotnik_packages/robotnik_sensors
	url = git@github.com:alefram/robotnik_sensors.git
	branch = jazzy-devel
[submodule "robotnik_common"]
	path = robotnik_packages/robotnik_common
	url = https://github.com/RobotnikAutomation/robotnik_common.git
	branch = jazzy-devel
[submodule "robotnik_interfaces"]
	path = robotnik_packages/robotnik_interfaces
	url = https://github.com/RobotnikAutomation/robotnik_interfaces.git
	branch = jazzy-devel
[submodule "mobile_manipulator_rbvogui_plus_moveit_config"]
	path = mobile_manipulator_rbvogui_plus_moveit_config
	url = git@github.com:farshad-heravi/mobile_manipulator_rbvogui_plus_moveit_config.git
	branch = master
[submodule "renee_behavior_tree"]
	path = renee_behavior_tree
	url = git@github.com:farshad-heravi/renee_behavior_tree.git
	branch = master
[submodule "renee_action_servers"]
	path = renee_action_servers
	url = git@github.com:farshad-heravi/renee_action_servers.git
	branch = master
[submodule "renee_perception"]
	path = renee_perception
	url = https://github.com/alefram/renee_perception
	branch = feat/camera_link_service
[submodule "vogui_ros1_ros2_bridge"]
	path = vogui_ros1_ros2_bridge
	url = git@github.com:alefram/vogui_ros1_ros2_bridge.git
	branch = master
[submodule "librealsense"]
	path = librealsense
	url = git@github.com:alefram/librealsense.git
	branch = master
[submodule "realsense-ros"]
	path = realsense-ros
	url = git@github.com:alefram/realsense-ros.git
	branch = ros2-master
[submodule "renee_trajectory_generation"]
	path = renee_trajectory_generation
	url = git@github.com:alefram/renee_planner.git
	branch = main
[submodule "wrist_camera_calibration"]
	path = wrist_camera_calibration
	url = git@github.com:farshad-heravi/wrist_camera_calibration.git
	branch = master
[submodule "renee_vision_modules"]
	path = renee_vision_modules
	url = git@github.com:HessamKaveh/robot-perception-platform.git
	branch = main
